<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <h1>
            创建、编辑客户信息
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="main-box">
            <div class="main-box-header">
                <h2>
                    客户信息
                </h2>
            </div>
            <div class="main-box-body form-horizontal" ng-repeat="item in data">
                <div class="form-group">
                    <label class="col-lg-2 control-label">
                        <font color="red">*</font>客户姓名</label>
                    <div class="col-lg-10">
                        <input ng-model="item.clientName" class="form-control" placeholder="请输入客户姓名" maxlength="45">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">
                        <font color="red">*</font>客户手机号</label>
                    <div class="col-lg-10">
                        <input type="number" ng-model="item.phoneNum" class="form-control" placeholder="请输入客户手机号" maxlength="45">
                    </div>
                </div>
                <div class="main-box-footer" style="padding:10px;text-align:right;">
                    <span ng-click="del($index)" class="td-btn">删除</span>
                </div>
            </div>
            <div class="main-box-footer" style="padding:10px;text-align:right;">
                <button ng-click="add()" class="btn btn-success">增加客户</button>
            </div>
        </div>
    </div>
</div>

<div class="next-btn">
    <span class="btn btn-success" ng-click="save()">创建</span>
</div>